.red-button:hover{
	background-color:#8C1717;
	color: #999;
}
.blue-button:hover{
	background-color:#4072a1;
	color: #777;
}
.round-button{
	width:100px;
	height:80px;
	border-radius: 50%;
	font-size: 25px;
}
.bigger-round-button{
	width:150px;
	height:120px;
	border-radius: 50%;
	font-size: 15px;
	margin: 15px;
}

.blue-button{
	color: #fff;
	text-shadow: 1px 1px #ccc;
	background-color:#83b2d9;
	border: 5px solid #4072a1;
}

.red-button{
	color: #fff;
	text-shadow: 0px 1px #777;
	background-color:#B22222;
	border: 5px solid #8C1717;
}
.bigger-centered-buttons{	
	width:370px;
	display:block;
	margin: 30px auto;
}
.centered-buttons{	
	width:300px;
	display:block;
	margin: 30px auto;
}
.stylish-message{
	margin: auto;
    width: 300px;
}
.stylish-description{
	margin: auto;
    width: 600px;
}
.profile-pict{
	display: block;
	height: 350px;
	width: 350px;
	border: 2px solid #ccc;
	margin: 0 auto;
}

.listed-image {
	width:200px;
	border-radius: 50%;
    border: 1px solid black;
	cursor: pointer;
}

.listed-image :hover, .listed-image :focus{
	border: 3px solid red !important;
}

.listed{
	border-bottom: 1px solid;
    margin-bottom: 20px;
}

.listed-p{
    margin: 3px 0 3px 25px;
}

.navbar-brand:hover, a#delete-list:hover, a#match-list:hover {
	background-color: #ccc !important;
}